<div class="stepper">
  <div [class.active]="currentStep === 1">1. Producto</div>
  <div [class.active]="currentStep === 2">2. Resumen</div>
  <div [class.active]="currentStep === 3">3. Datos</div>
</div>


<!-- Paso 1: Selección de producto -->

  

<div *ngIf="currentStep === 1">
  <h2>Seleccionar producto</h2>
  <p>{{ selectedProduct?.name }} - {{ selectedProduct?.price | currency:'ARS' }}</p>
  <button (click)="goNext()">Continuar</button>
</div>

<div *ngIf="currentStep === 2">
  <h2>Resumen</h2>
  <p>Producto: {{ selectedProduct?.name }}</p>
  <p>Subtotal: {{ selectedProduct?.price | currency:'ARS' }}</p>
  <button (click)="goBack()">Volver</button>
  <button (click)="goNext()">Continuar</button>
</div>

<div *ngIf="currentStep === 3">
  <h2>Datos personales</h2>
  <!-- formulario -->
  <button (click)="goBack()">Volver</button>
  <button>Finalizar compra</button>
</div>

