<h2>Carrito</h2>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio unitario</th>
      <th>Subtotal</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.product.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.product.price | currency:'ARS':'symbol' }}</td>
      <td>{{ (item.product.price * item.quantity) | currency:'ARS':'symbol' }}</td>
      
        <td>{{ getSubtotal(item) | currency:'ARS':'symbol' }}</td>

        <button (click)="increase(item.product.id)">+</button>
        <button (click)="decrease(item.product.id)">−</button>
        <button (click)="remove(item.id)">Eliminar</button>
      
    </tr>
  </tbody>
</table>

<button (click)="clear()">Vaciar Carrito</button>

<h3>Total: {{ total | currency:'ARS':'symbol' }}</h3>

<button (click)="comprarCarrito()">Comprar ahora</button>

<p *ngIf="errorredir">Error: {{ errorredir }}</p>
