<h2>Carrito</h2>
<ul>
  <li *ngFor="let item of items">
    {{ item.product.name }} - ${{ item.product.price }} x {{ item.quantity }}
    <button (click)="increase(item.product.id)">+</button>
    <button (click)="decrease(item.product.id)">−</button>
    <button (click)="remove(item.id)">Eliminar</button>

    
  </li>
      <button (click)="clear()">Vaciar Carrito</button>
</ul>

<p>Total: {{ total | currency:'ARS' }}</p>
<button (click)="comprarCarrito()">Comprar ahora</button>
<p>{{errorredir}}</p>
