<div *ngIf="sesionActivaSinGoogle; else noSesion">

<!-- Modal de advertencia -->
<div class="modal" *ngIf="mostrarAdvertencia">
  <div class="modal-content">
    <h2>⚠️ Advertencia de sesión</h2>
    <p>Tu sesión expirará en 1 minuto por inactividad.</p>
    <div class="modal-actions">
      <button (click)="mantenerSesion()">Mantener sesión</button>
      <button (click)="cerrarSesion()">Cerrar sesión</button>
    </div>
  </div>
</div>

<!--dashboard de usuario-->
<div class="dashboard-layout">
  <!-- Botón hamburger --> 
  <button class="hamburger" (click)="menuOpen = !menuOpen">☰</button>
  <!-- Sidebar -->
  <aside class="sidebar" [class.open]="menuOpen">
    
    <!--Menu con secciones-->
    <!--Las secciones como perfil, ordenes, estadisticas, actividad, configuracion
    dependen de la variable seccionActiva en el ts
    y se muestran con *ngIf="seccionActiva==='...'"-->
    <h3>Menú</h3>
    <ul>
      <li><button (click)="seccionActiva='perfil'" [class.active]="seccionActiva==='perfil'">👤 Perfil</button></li>
<li><button (click)="seccionActiva='ordenes'" [class.active]="seccionActiva==='ordenes'">🛒 Órdenes</button></li>
 <li><button routerLink="/cart" routerLinkActive="active">🛒 🛍️ Carrito</button>
</li>

<li><button (click)="seccionActiva='estadisticas'" [class.active]="seccionActiva==='estadisticas'">📊 Estadísticas</button></li>
<li><button (click)="seccionActiva='actividad'" [class.active]="seccionActiva==='actividad'">📅 Actividad</button></li>
<li><button (click)="seccionActiva='configuracion'" [class.active]="seccionActiva==='configuracion'">⚙️ Configuración</button></li>

    </ul>
  </aside>
<!---CONTENIDO DEL MENU-->
  <!-- Contenido principal -->
  <main class="main-content">
    <div class="dashboard" *ngIf="sesionActivaSinGoogle">
      <h2>Bienvenido, {{ datosdesesion }}</h2>
      
  <button (click)="cerrarSesion()" class="cerrarSesion">Cerrar sesión</button>

      <!-- Perfil -->
      <section *ngIf="seccionActiva==='perfil'">
        <h3>Perfil</h3>
        <p>Usuario: {{ datosdesesion }}</p>
        <p>Nombre: {{ nombre }}</p>
        <p>Email: {{ email }}</p>
       
        <p>Fechaderegistro: {{ fechaderegistro }}</p> 
      </section>

      <!-- Órdenes -->
      <section *ngIf="seccionActiva==='ordenes'">
        <h3>Órdenes recientes</h3>
        <ul>
          <li *ngFor="let order of orders" class="order-card">
            <h3>Orden #{{ order.id }} - Estado: {{ order.status }}</h3>
            <p>Fecha: {{ order.createdAt | date:'short' }}</p>
            <p>Producto: {{ order.productName }}</p>
            <p>Usuario login: {{ order.loginUsername }}</p>
            <p>Usuario MP: {{ order.user.username }} ({{ order.user.email }})</p>
            <p>Total: {{ order.total | currency:'ARS' }}</p>

            <h4>Items:</h4>
            <ul>
              <li *ngFor="let item of order.items">
                {{ item.productName }} - Cantidad: {{ item.quantity }} - Precio: {{ item.price | currency:'ARS' }}
              </li>
            </ul>
          </li>
        </ul>
      </section>
      

      <!-- Estadísticas -->
      <section *ngIf="seccionActiva==='estadisticas'">
        <h3>Estadísticas</h3>
        <p>Total gastado: {{ estadisticas.totalGastado | currency }}</p>
        <p>Compras realizadas: {{ estadisticas.compras }}</p>
            <p><strong>Última compra:</strong> {{ estadisticas.ultimaCompra | date:'short' }}</p>
        
        <p><strong>Monto:</strong> {{ estadisticas.ultimoMonto | currency:'ARS' }}</p>
  <p><strong>Estado:</strong> {{ estadisticas.ultimoEstado }}</p>
      </section>

      <!-- Actividad -->
      <section *ngIf="seccionActiva==='actividad'">
        <h3>Actividad</h3>
        <ul>
    <li *ngFor="let evento of actividad">
      <strong>{{ evento.tipo }}</strong> - {{ evento.descripcion }}
      <br>
      <small>{{ evento.fecha | date:'short' }}</small>
    </li>
        </ul>
      </section>

      <!-- Configuración -->
      <section *ngIf="seccionActiva==='configuracion'">
        <h3>Configuración</h3>
          <h3>🔐 Actualizar contraseña</h3>
  <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
    <label for="password">Nueva contraseña:</label>
    <input id="password" type="password" formControlName="nuevaPassword">
    
    <div *ngIf="passwordForm.get('nuevaPassword')?.invalid && passwordForm.get('nuevaPassword')?.touched">
      <small>La contraseña debe tener al menos 6 caracteres</small>
    </div>
<p *ngIf="mensajedecambiopassword"><strong> {{ mensajedecambiopassword }}</strong> </p>
    <button type="submit" [disabled]="passwordForm.invalid">Actualizar</button>
      
  </form>

    
           
        
      <h3>🔐 Actualizar nombre de usuario</h3>
  <form [formGroup]="usernameForm" (ngSubmit)="updateUsername()">
    <label for="username">Nuevo nombre de usuario:</label>
    <input id="username" type="text" formControlName="nuevoUsername" >
    
    <div *ngIf="usernameForm.get('nuevoUsername')?.invalid && usernameForm.get('nuevoUsername')?.touched">
      <small>Debe escribir un nombre de usuario </small>
    </div>
<p *ngIf="mensajedecambiousername"><strong>{{ mensajedecambiousername }}</strong></p>
    <button type="submit" [disabled]="usernameForm.invalid">Actualizar</button>
      
  </form>

        <h3>@ Actualizar Email</h3>
  <form [formGroup]="emailForm" (ngSubmit)="updateEmail()">
    <label for="email">Nuevo Email:</label>
    <input id="email" type="text" formControlName="nuevoEmail" >
    
    <div *ngIf="emailForm.get('nuevoEmail')?.invalid && emailForm.get('nuevoEmail')?.touched">
      <small>Debe escribir un Email </small>
    </div>
<p *ngIf="mensajedecambioemail"><strong>{{ mensajedecambioemail }}</strong></p>
    <button type="submit" [disabled]="emailForm.invalid">Actualizar</button>
      
  </form>
    
      </section>
    </div>
  </main>
</div>
</div>

<ng-template #noSesion>
  <p>No hay sesión activa</p>
</ng-template>
  
                 

