<p *ngIf="conexionActiva">✅ Conectado al servidor WebSocket</p>
<p *ngIf="!conexionActiva">❌ No conectado</p>

<p *ngIf="errorMsg">⚠️ {{ errorMsg }}</p>

<div style="background: black; color: lime; font-family: monospace; padding: 10px; margin-top: 20px; font-size: 10px;">
  <strong>LOG DEL SISTEMA:</strong>
  <p>{{parawebsocket.ultimosLogs }}</p>
</div>

<h3>Notificaciones</h3> 
<ul> 
  <li *ngFor="let msg of notifications">{{ msg }}
  </li>
</ul>
<!-- Este es el botón que envía la notificación --> 
<button (click)="sendTestNotification()">Enviar notificación de prueba</button>
