<section class="categoria">
  <div *ngIf="message" class="info-banner">
  {{ message }}
  </div>
  <h2>{{ categoriaNombre | titlecase }}</h2>
  <div class="product-grid">
    <div class="product-card" *ngFor="let product of productosporcategoria">
      <img [src]="product.imageUrl" alt="{{ product.name }}">
      <h3>{{ product.name }}</h3>
      <p>{{ product.price | currency:'ARS' }}</p>
            <button class="agregaralcarrito" (click)="addToCart(product)">Agregar al carrito</button>
<!-- Si está logueado se muestra el boton compra directa que abre el modal stepper-->
<button class="comprarahora" *ngIf="isLoggedIn()" (click)="startCheckout(product)">
  Comprar ahora
</button>

<!-- Si NO está logueado, muestra botón que guarda el producto y va al login -->
<button class="iniciasesionparacomprar" 
        *ngIf="!isLoggedIn()" 
        (click)="goToLogin('product', { id: product.id, category: categoriaNombre })">
  Inicia sesión para comprar
</button>


    </div>
  </div>
  


  <!-- Modal -->
<div class="modal-overlay" *ngIf="showStepperModal">
  <div class="modal-content">
    <button class="close-btn" (click)="closeStepper()">Cerrar</button>

    <!-- Stepper dentro del modal -->
   <app-checkout-stepper *ngIf="selectedProduct"
      [selectedProduct]="selectedProduct"
      (close)="closeStepper()">
    </app-checkout-stepper>

    
  </div>
</div>
</section>
