






<!-- 
este selector duplica la vista del componente porque app.html ya lo esta llamando 
<app-ws-test-component></app-ws-test-component>-->


<section class="hero">
  <div class="hero-content">
    <h1>Bienvenido a eShop</h1>
    <p>Descubre ofertas exclusivas y productos seleccionados para vos.</p>
    <button class="cta-button">Comprar ahora</button>
  </div>
  <div class="hero-image">
    <!-- en Angular json esta definido las rutas de los assetes así
    "assets": [
  {
    "glob": "**/*",
    "input": "public"
  }
]
    por eso para mostrar las imagen hay que colocar el archivo 
   de imagen dentro de public,puede ser directamente 
    o asi public/img/archivoimagen.png
    y para el src del html no hace falta usar public
    es llamar al archivo directo o en la carpeta que lo contiene
    -->


    <img src="img/Gemini_Generated_Image_ki19uhki19uhki19.png" alt="Productos destacados">
  </div>
</section>



<!-- Toast para avisar que se debe iniciar sesión para hacer la compra-->
<div class="toast" *ngIf="toastMessage">
  {{ toastMessage }}
</div>

<section class="featured-products" id="destacados">
  <h2>Productos destacados</h2>
  <div class="product-grid">
    <div class="product-card" *ngFor="let product of featuredProducts">
      <img [src]="product.imageUrl" alt="{{ product.name }}">
      <h3>{{ product.name }}</h3>
      <p>{{ product.price | currency:'ARS' }}</p>
      <button class="agregaralcarrito" (click)="addToCart(product)">Agregar al carrito</button>
<!-- Si está logueado se muestra el boton compra directa que abre el modal stepper-->
<button class="comprarahora" *ngIf="isLoggedIn()" (click)="startCheckout(product)">
  Comprar ahora
</button>

<!-- Si NO está logueado, muestra botón que guarda el producto y va al login -->
<button class="iniciasesionparacomprar" *ngIf="!isLoggedIn()" (click)="goToLogin(product.id)">
  Inicia sesión para comprar
</button>
    </div>
  </div>

<!-- Modal -->
<div class="modal-overlay" *ngIf="showStepperModal">
  <div class="modal-content">
    <button class="close-btn" (click)="closeStepper()">Cerrar</button>

    <!-- Stepper dentro del modal -->
   <app-checkout-stepper *ngIf="selectedProduct"
      [selectedProduct]="selectedProduct"
      (close)="closeStepper()">
    </app-checkout-stepper>

    
  </div>
</div>



    <h2>Ver Productos destacados Por Categoría</h2>
<form [formGroup]="destacadoporcategories">
  <select formControlName="category">
    <option value="">Todas las categorías</option>
    <option *ngFor="let cat of categories" [value]="cat">
      {{ cat }}
    </option>
  </select>
</form>

<div class="product-grid">
  <!--aquí se usa el getter getfilteredProducts y (no una property que tiene los datos del array 
para iterar sobre el como en otros casos)
el getter getfilteredProducts retorna el featuredProducts filtrado según la categoría seleccionada -->
  <div class="product-card" *ngFor="let product of filteredProducts">
    <img [src]="product.imageUrl" alt="{{ product.name }}">
    <h3>{{ product.name }} - {{ product.category }}</h3>
    <p>{{ product.price | currency:'ARS' }}</p>
    <button class="agregaralcarrito" (click)="addToCart(product)">Agregar al carrito</button>
 
  <!-- Si está logueado se muestra el boton compra directa que abre el modal stepper-->
<button class="comprarahora" *ngIf="isLoggedIn()" (click)="startCheckout(product)">
  Comprar ahora
</button>

<!-- Si NO está logueado, muestra botón que guarda el producto y va al login -->
<button class="iniciasesionparacomprar" *ngIf="!isLoggedIn()" (click)="goToLogin(product.id)">
  Inicia sesión para comprar
</button>
  </div>
</div>

</section>

      
      <section class="categories" id="categories" >
  <h2>Categorías</h2>
  <div class="category-grid">
    <div class="category-card" routerLink="/categoria/Smartphone">
      <img src="img/Apple_dominiert_Top10_meistverkaufte_Smartphones.jpg" alt="Smartphone">
      <h3>Celulares</h3>
    </div>
    <div class="category-card" routerLink="/categoria/Notebooks">
      <img src="img/notebooks.jpg" alt="Computadoras">
      <h3>Computadoras</h3>
    </div>
        <div class="category-card" routerLink="/categoria/Perifericos">
      <img src="img/perifericos.png" alt="Perifericos">
      <h3>Periféricos</h3>
        </div>
            <div class="category-card" routerLink="/categoria/Monitores">
      <img src="img/monitores.webp" alt="Monitores">
      <h3>Monitores</h3>
            </div>
    <div class="category-card" routerLink="/categoria/tv">
      <img src="img/Tv.jpg" alt="Televisores">
      <h3>Televisores</h3>
    </div>
    <div class="category-card" routerLink="/categoria/accesorios">
      <img src="img/Accesorios.jpeg" alt="Accesorios">
      <h3>Accesorios</h3>
    </div>
  </div>
</section>


      <section class="ofertas" id="ofertas" >
<div class="offers-section">
    <div class="offers-header">
        <h2>OFERTAS ESPECIALES</h2>
        <p>¡Aprovecha nuestras grandes ofertas y descuentos!</p>
    </div>

    <div class="offers-grid">
        <div class="offers-card" *ngFor="let product of productosenoferta" >
            <span class="offer-label">OFERTA 20% DESCUENTO</span>
            <!--El contador se usa en ocasiones especiales como un blackfriday o cybermonday 
          donde las ofertas de esa ocasión finalizan en un par de dias
      en días normales las ofertas no tienen contador
          se debería armar una section especial para esa ocasión así el código 
          no se mezcla con las ofertas normales diarias          
          <div class="countdown">{{ countdown }}</div>
          -->
            <img [src]="product.imageUrl" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p class="old-price">$759.999</p>
            <p class="new-price">{{ product.price | currency:'ARS' }}</p>
        
        
    <button class="agregaralcarrito" (click)="addToCart(product)">Agregar al carrito</button>
 
  <!-- Si está logueado se muestra el boton compra directa que abre el modal stepper-->
<button class="comprarahora" *ngIf="isLoggedIn()" (click)="startCheckout(product)">
  Comprar ahora
</button>

<!-- Si NO está logueado, muestra botón que guarda el producto y va al login -->
<button class="iniciasesionparacomprar" *ngIf="!isLoggedIn()" (click)="goToLogin(product.id)">
  Inicia sesión para comprar
</button>
        </div>
    </div>
</div>
      </section>

<footer class="footer">
  <div class="footer-container">
    <!-- Acerca de nosotros-->
    <div class="footer-section">
      <h3>Acerca de nosotros</h3>
      <p>Tu tienda online de confianza,
        ofrecemos los mejores productos con envio rapido y atención personalizada</p>
 
    </div>
    <!-- Contacto -->
    <div class="footer-section" id="contacto">
      <h3>Contacto</h3>
      <p>Email: contacto@eshop.com</p>
        <div class="form-wrapper">
        <p>Completá el formulario y nos pondremos en contacto contigo:</p>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfdCoz_jvFFF79pNUERDNYUQiQbvtl4SEkqdIbpC7rHBFct-A/viewform?embedded=true" 
        width="640" height="695" frameborder="0" marginheight="0" marginwidth="0" class="google-form" >Cargando…</iframe>
        </div>
          <p>Tel: +54 376 1234567</p>
      <p>Dirección: Posadas, Misiones</p>
    </div>

    <!-- Links rápidos -->
    <div class="footer-section">
      <h3>Información</h3>
      <ul>
        <li><a routerLink="/politicas">Políticas de devolución</a></li>
        <li><a routerLink="/terminos">Términos y condiciones</a></li>
        <li><a routerLink="/ayuda">Ayuda</a></li>
      </ul>
    </div>

    <!-- Redes sociales -->
    <div class="footer-section">
      <h3>Seguinos</h3>
      <div class="social-icons">
  <a href="https://facebook.com/tuPagina" target="_blank">
    <img src="img/facebook.svg" alt="Facebook">
  </a>
  <a href="https://instagram.com/tuPagina" target="_blank">
    <img src="img/instagram.svg" alt="Instagram">
  </a>
  <a href="https://twitter.com/tuPagina" target="_blank">
    <img src="img/x.svg" alt="X">
  </a>
        <a href="https://youtube.com/" target="_blank">
    <img src="img/youtube.svg" alt="Youtube">
        </a>
</div>
    </div>

    <!-- Newsletter -->
    <div class="footer-section">
      <h3>Suscribite</h3>
      <form>
        <input type="email" placeholder="Tu email">
        <button type="submit">Enviar</button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2026 eShop - Todos los derechos reservados</p>
  </div>
</footer>














<p>{{errorredir}}</p>
  




