.search-result {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fafafa;
}

.search-result img {
  margin-right: 15px;
  border-radius: 4px;
}

.search-result .info {
  flex: 1;
}
.buynow {
  background-color: #007bff; /* azul */
  color: white;              /* letra blanca */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.buynow:hover {
  background-color: #0056b3; /* azul más oscuro al pasar el mouse */
}

.addtocart {
  background-color: #28a745; /* verde */
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.addtocart:hover {
  background-color: #218838; /* verde más oscuro al pasar el mouse */
}

.resumen {
  left:5px;
}

