
/*header que tiene el logo,el menu,el buscador y carrito*/

/* Header general */
.header {
  position: sticky; /* se queda arriba al hacer scroll */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background-color: #f8f8f8;
  
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo {
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
}

/* Botón hamburguesa */
.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px 8px;   
  color: #333;
  width:10%;
  display: none; /* solo se muestra en móvil */
}

/* Menú de navegación */
.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Buscador */
.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-box-for-products {
  width: 100%;
  max-width: 400px;
  padding: 8px 40px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: #fff url('https://cdn-icons-png.flaticon.com/512/622/622669.png') no-repeat right 10px center;
  background-size: 18px;
}

/* Carrito */
.cart-icon {
  font-size: 18px;
  position: relative;
}

.cart-count {
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -8px;
  right: -10px;
}

/*login/register*/

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.auth-links-desktop a {
  text-decoration: none;
  color: #fff; /* o el color que uses en tu header */
  font-weight: 500;
}

.auth-links-desktop a:hover {
  color: #f0c040; /* ejemplo: color destacado en hover */
}

/* Desktop: Login/Register al lado del carrito */
.auth-links-desktop {
  display: flex;
  gap: 10px;
}

.auth-links-mobile {
  display: none;
}




/*RESPONSIVE para movil*/
@media (max-width: 768px) {
.menu-toggle {
    display: block; /* aparece el botón hamburguesa */
 width:10%;
}

  .nav-menu {
    display: none; /* oculto por defecto */
    flex-direction: column;
    gap: 10px;
    background-color: #f8f8f8;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 12px;
  }

  .nav-menu.open {
    display: flex; /* se muestra cuando menuOpen = true */
  }

  .search-container {
    margin-top: 10px;
    justify-content: flex-start; /* buscador alineado en móvil */
  }

  .search-box-for-products {
    max-width: 100%;
  }

  /* Mobile: Login/Register dentro del menú hamburguesa */
  .auth-links-desktop {
    display: none; /* ocultar el desktop  en móvil */
  }

  .auth-links-mobile {
    display: block; /* mostrar dentro del menú */
    margin-top: 15px;
    text-align: center;
  }

  .auth-links-mobile a {
    display: inline-block;
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
  }

  .auth-links-mobile a:hover {
    color: #f0c040; /* color destacado en hover */
  }
  
}
