<nav>
  <a routerLink="/">Productos</a>
  <a routerLink="/cart">Carrito</a>
</nav>
<!--<h1>{{ title() }}</h1>-->


<!-- Aquí se renderiza tu componente de prueba -->
<!--<app-ws-test-component></app-ws-test-component>
-->
<header class="header">
  <div class="logo">eShop</div>

  <!-- Botón hamburguesa -->
  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <!-- Menú -->
  <nav class="nav-menu" [ngClass]="{ 'open': menuOpen }">
    <a href="#" (click)="closeMenu()">Inicio</a>
    <a routerLink="/productos" (click)="closeMenu()">Productos</a> 
    <a href="#destacados" (click)="closeMenu()">Productos Destacados</a>

    <a href="#ofertas" (click)="closeMenu()">Ofertas</a>
    <a href="#contacto" (click)="closeMenu()">Contacto</a>
    <!-- Login/Register dentro del menú en móvil -->
    <div class="auth-links-mobile">
      <p>Iniciar sesion</p>
      <a routerLink="/login" (click)="closeMenu()" >Login</a>  <p>No tienes una cuenta?</p><a routerLink="/register"  (click)="closeMenu()">Register</a>
    </div>
  </nav>

  <!-- Buscador -->
  <div class="search-container">
    <input
      type="text"
      [formControl]="searchControl"
      class="search-box-for-products"
      placeholder="Buscar productos..."
    />

  </div>




  <!-- Carrito + Login/Register desktop -->
  <div class="header-actions">
<div class="cart-icon" [class.bump]="animate" [class.shake]="animate" [class.remove]="animateRemove" (click)="toggleDropdown()">
<span class="emojicart">🛒</span>
 <span class="cart-count-badge">{{ cartCount }}</span>
  </div>

  <!-- Dropdown del carrito -->
  <div class="cart-dropdown" *ngIf="dropdownOpen">
    <div *ngIf="items.length === 0">Tu carrito está vacío</div>
    <div *ngFor="let item of items; let i = index" class="cart-ite<m">
      {{ item.product.name }} - Cantidad: {{ item.quantity }}
      <button (click)="removeItem(i)">❌</button>
    </div>
          <button (click)="clearCartSinSession()">Vaciar Carrito</button>
<!-- Subtotal -->
    <div class="cart-total">
      <!--usamos el pipe async para mostra los datos al instante 
      sin tener que actualizar la página
      esto nos permite suscribirnos directamente al
      la variable totalSubject del BehaviorSubject que esta representada 
      por la variable especial total$, esto evita tener que suscribirnos
      desde el component en ngOnInit 
  -->
      Total: {{ cartService.total$ | async | currency:'ARS':'symbol':'1.0-0' }}
    </div>
    <button routerLink="/cart">Ver carrito</button>
  </div>
</div>
</header>

<!-- Resultados fuera del header se muestra solo si hay búsqueda activa por el usuario-->
<div *ngIf="searchActive" class="search-results">
  <div *ngIf="loading" class="loading">Buscando productos...</div>
  <div *ngIf="error" class="error">Ocurrió un error al buscar productos.</div>

  <ul *ngIf="products.length > 0" class="results-list">
    <li *ngFor="let product of products" class="result-item">
      <img [src]="product.imageUrl" alt="{{ product.name }}" />
      <div class="product-info">
        <h4>{{ product.name }}</h4>
        <p>{{ product.price | currency:'ARS' }}</p>
      </div>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
