<nav>
  <a routerLink="/">Productos</a>
  <a routerLink="/cart">Carrito</a>
</nav>
<!--<h1>{{ title() }}</h1>-->


<!-- Aquí se renderiza tu componente de prueba -->
<!--<app-ws-test-component></app-ws-test-component>
-->
<header class="header">
  <div class="logo">eShop</div>

  <!-- Botón hamburguesa -->
  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <!-- Menú -->
  <nav class="nav-menu" [ngClass]="{ 'open': menuOpen }">
    <a href="#">Inicio</a>
    <a href="#">Productos</a>
    <a href="#">Ofertas</a>
    <a href="#">Contacto</a>
    <!-- Login/Register dentro del menú en móvil -->
    <div class="auth-links-mobile">
      <p>Iniciar sesion</p>
      <a routerLink="/login">Login</a>  <p>No tienes una cuenta?</p><a routerLink="/register">Register</a>
    </div>
  </nav>

  <!-- Buscador -->
  <div class="search-container">
    <input
      type="text"
      [formControl]="searchControl"
      class="search-box-for-products"
      placeholder="Buscar productos..."
    />

  </div>

  <!-- Carrito + Login/Register desktop -->
  <div class="header-actions">
    <div class="cart-icon">
      🛒 <span class="cart-count">2</span>
    </div>
    <div class="auth-links-desktop">
      <p>Iniciar sesion</p>
      <a routerLink="/login">Login</a> <p>No tienes una cuenta?</p> <a routerLink="/register">Register</a>
    </div>
  </div>
</header>
<!-- Resultados fuera del header se muestra solo si hay búsqueda activa por el usuario-->
<div *ngIf="loading || error || products.length > 0" class="search-results">
  <div *ngIf="loading" class="loading">Buscando productos...</div>
  <div *ngIf="error" class="error">Ocurrió un error al buscar productos.</div>

  <ul *ngIf="products.length > 0" class="results-list">
    <li *ngFor="let product of products" class="result-item">
      <img [src]="product.imageUrl" alt="{{ product.name }}" />
      <div class="product-info">
        <h4>{{ product.name }}</h4>
        <p>{{ product.price | currency:'ARS' }}</p>
      </div>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
