<nav>
  <a routerLink="/">Productos</a>
  <a routerLink="/cart">Carrito</a>
</nav>
<!--<h1>{{ title() }}</h1>-->


<!-- Aquí se renderiza tu componente de prueba -->
<!--<app-ws-test-component></app-ws-test-component>
-->

<app-dashboard *ngIf="sesionActivaSinGoogle"></app-dashboard>
<header class="header">
  <div class="logo">eShop</div>

  <!-- Botón hamburguesa -->
  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <!-- Menú -->
  <nav class="nav-menu" [ngClass]="{ 'open': menuOpen }">
    <a href="#" (click)="closeMenu()">Inicio</a>
    <a routerLink="/productos" (click)="closeMenu()">Productos</a> 
    <a href="#destacados" (click)="closeMenu()">Productos Destacados</a>

    <a href="#ofertas" (click)="closeMenu()">Ofertas</a>
    <a href="#contacto" (click)="closeMenu()">Contacto</a>
    <!-- Login/Register dentro del menú en móvil -->
    <div class="auth-links-mobile">
      <p>Iniciar sesion</p>
      <a routerLink="/login" (click)="closeMenu()" >Login</a>  <p>No tienes una cuenta?</p><a routerLink="/register"  (click)="closeMenu()">Register</a>
    </div>
  </nav>

  <!-- Buscador -->
  <div class="search-container">
    <input
      type="text"
      [formControl]="searchControl"
      class="search-box-for-products"
      placeholder="Buscar productos..."
    />

  </div>




  <!-- Carrito + Login/Register desktop -->
  <div class="header-actions">
<div class="cart-icon" [class.bump]="animate" [class.shake]="animate" [class.remove]="animateRemove" (click)="toggleDropdown()">
<span class="emojicart">🛒</span>
 <span class="cart-count-badge">{{ cartCount }}</span>
  </div>

  <!-- Dropdown del carrito -->
  <div class="cart-dropdown" *ngIf="dropdownOpen">
    <div *ngIf="items.length === 0">Tu carrito está vacío</div>
    <div *ngFor="let item of items; let i = index" class="cart-ite<m">
      {{ item.product.name }} - Cantidad: {{ item.quantity }}
      <button (click)="removeItem(i)">❌</button>
    </div>
          <button (click)="clearCartSinSession()">Vaciar Carrito</button>
<!-- Subtotal -->
    <div class="cart-total">
      <!--usamos el pipe async para mostra los datos al instante 
      sin tener que actualizar la página
      esto nos permite suscribirnos directamente al
      la variable totalSubject del BehaviorSubject que esta representada 
      por la variable especial total$, esto evita tener que suscribirnos
      desde el component en ngOnInit 
  -->
      Total: {{ cartService.total$ | async | currency:'ARS':'symbol':'1.0-0' }}
    </div>
    <button routerLink="/cart">Ver carrito</button>
  </div>
</div>
</header>

<!-- Resultados fuera del header se muestra solo si hay búsqueda activa por el usuario-->
<div *ngIf="searchActive" class="search-results">
  <div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
    <p>Cargando tu producto...</p>
  </div>  <div *ngIf="error" class="error">Ocurrió un error al buscar productos.</div>

  <ul *ngIf="products.length > 0" class="results-list">
    <li *ngFor="let product of products" class="result-item" [ngClass]="{'highlighted': highlightedProductId === product.id}">
      <img [src]="product.imageUrl" alt="{{ product.name }}" />
      <div class="product-info">
        <h4>{{ product.name }}</h4>
        <p>{{ product.price | currency:'ARS' }}</p>
<button class="ver-detalle" (click)="openProductDetail(product)">
  Ver detalles
</button>

        <!--modal para detalles o descripción del producto-->
       
        <div class="modal-description" *ngIf="selectedProduct" (click)="closeModal($event)">
  <div class="modal-content-description" (click)="$event.stopPropagation()">
    <h3>{{ selectedProduct.name }}</h3>
    <img [src]="selectedProduct.imageUrl" alt="{{ selectedProduct.name }}" />
    <p>{{ selectedProduct.price | currency:'ARS' }}</p>
    <p class="product-description">{{ selectedProduct.description }}</p>

    <button class="close-btn-description" (click)="markSelected(selectedProduct)">Cerrar</button>
  </div>
</div>


        
        <button class="agregaralcarrito" (click)="addToCart(product)">Agregar al carrito</button>
<!-- Si está logueado se muestra el boton compra directa que abre el modal stepper-->
<button class="comprarahora" *ngIf="isLoggedIn()" (click)="startCheckout(product)">
  Comprar ahora
</button>

<!-- Si NO está logueado, muestra botón que guarda el producto y va al login -->
<button class="iniciasesionparacomprar" *ngIf="!isLoggedIn()" (click)="goToLogin('allproductsearch', product.id )">
  Inicia sesión para comprar
</button>
      </div>
    </li>
  </ul>
</div>



<!-- Spinner mientras se carga -->
  <div *ngIf="loading && !searchActive" class="spinner-container">
    <div class="spinner"></div>
    <p>Cargando tu producto...</p>
  </div>

<!-- Estado de error por si falla la conexión de la red
  o el backend devuelve error, el modal no queda vacío: muestra un mensaje claro 
y hasta le das al usuario la opción de reintentar.  -->
  <div *ngIf="error" class="error-container">
    <p>No se pudo cargar el producto. Intenta nuevamente más tarde.</p>
    <button (click)="retryPendingCheckout()">Reintentar</button>
  </div>

<!-- Modal -->
<div *ngIf="!loading && !error">
<div class="modal-overlay" *ngIf="showStepperModal">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3>Checkout</h3>
      <button class="close-btn" (click)="closeStepper()">✖</button>
    </div>

    <!-- Body -->
    <div class="modal-body">
      <app-checkout-stepper *ngIf="selectedProduct"
        [selectedProduct]="selectedProduct"
        (close)="closeStepper()">
      </app-checkout-stepper>
    </div>

    <!-- Footer -->
    <div class="modal-footer">
      <button class="cancel-btn" (click)="closeStepper()">Cancelar</button>
    </div>
  </div>
</div>
</div>

<router-outlet></router-outlet>
