<h2>Resultado de la compra</h2>
<p>Status: {{ status }}</p>
<p>Payment ID: {{ paymentId }}</p>
<p>External Reference: {{ externalReference }}</p>

<div *ngIf="orderDetails">
  <h3>Detalles de la orden</h3>
  <p>
    Comprador: {{ orderDetails.mpPayerName || 'N/A' }}
    ({{ orderDetails.mpPayerEmail }})
  </p>
  <p class="total">
    Total: {{ orderDetails.total | currency:'ARS':'symbol':'1.0-0' }}
  </p>

  <ul>
    <li *ngFor="let item of orderDetails.items">
      {{ item.product.name }} - Cantidad: {{ item.quantity }} -
      Precio: {{ item.amount | currency:'ARS':'symbol':'1.0-0' }}
    </li>
  </ul>
</div>
