<div class="reset-password">
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <h2>Restablecer contraseña</h2>
    <label>
      Nueva contraseña:
      <input type="password" formControlName="newPassword" placeholder="Ingrese nueva contraseña" />
    </label>
    <button type="submit">Cambiar contraseña</button>
  </form>
</div>
<div *ngIf="successMessage" class="alert-success">
  {{ successMessage }}
</div>

<div *ngIf="mensajerror" class="alert-error">
  {{ mensajerror }}
</div>


